
<h1 class="title">Take care of the Sea</h1>
<h1 class="title">if you want to take care of you !</h1>
<img class="beating-heart" src="/images/beating-heart2.gif" alt="Beating-Heart"  (click)="uncork()"/>
<div *ngIf="corkOnHeart; else waterSpray">
  <img class="corkwood" src="/images/corkwood.gif" alt="Corkwood"/>
</div>
<ng-template #waterSpray>
  <img class="water-spray2" src="/images/water-spray2.gif" alt="Water-Spray" />
</ng-template>
<img class="waves" [class.cork]="corkOnHeart" src="/images/waves.gif" alt="Waves" />

<div *ngIf="garbageAlive && bottleAlive; else semiHappy">
  <img class="lungs" src="/images/lungs-sad.gif" alt="Lungs-Sad" />
</div>
<ng-template #semiHappy>
  <div *ngIf="garbageAlive || bottleAlive; else happy">
    <img class="lungs" src="/images/lungs-semi-happy.gif" alt="Lungs-Semi-Happy" />
  </div>
</ng-template>
<ng-template #happy>
  <img class="lungs" src="/images/lungs-happy.gif" alt="Lungs-Happy" />
</ng-template>

<img class="bubbles" [class.cork]="corkOnHeart" src="/images/bubbles.gif" alt="Bubbles" />

<div *ngIf="garbageAlive">
  <img class="garbage" src="/images/garbage2.gif" alt="Garbage" (click)="killGarbage()" />
</div>
<div *ngIf="bottleAlive">
  <img class="bottle" src="/images/bottle.gif" alt="Bottle" (click)="killBottle()" />
</div>
<img class="sand" src="/images/sand.png" alt="Sand" />

